.gradle
target
target/
target/*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
*.iml
*.apk
*.ap_
*.dex
*.class
*.war
bin/
gen/
#/*/build/
/csm-web/package-lock.json
proguard/
*.log
src/main/webapp/views
src/main/webapp/views/*